<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.saventech.karpool"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Karpool"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register"
                  android:label="@string/app_name">
            
        </activity>
         <activity android:name=".MainLogin"
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name=".Registerwithopenid"
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name=".Registerwithsysid"
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name=".Login" 
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name=".Preferences"
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name=".ProfilePref"
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name=".TravelPref"
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name=".RiderJourneyDetails"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".RiderGetRidelist"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".DriverJourneyDetails"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".Newroute"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".CancelRoute"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".Acknowledgement"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".JourneyDetails"
        		  android:label="@string/app_name">
        </activity>
        <activity android:name=".RiderRoute"
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name=".RiderAcknowledgements"
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name=".More"
                  android:label="@string/app_name">
            
        </activity>
         <activity android:name=".RideHistory"
                  android:label="@string/app_name">
            
        </activity>
         <activity android:name=".ForceAcknowledge"
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name=".DateTimePicker"
        		  android:label="@string/app_name">
        </activity>
         <activity android:name=".TrackRoute"
                  android:label="@string/app_name">
            
        </activity>
        <activity android:name=".Timebasedefault"
                  android:label="@string/app_name">
            
        </activity>
        
        
        
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>
	<supports-screens android:anyDensity="true"/>
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest> 
