<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>kaarpool</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.Registration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>SysRegistration</display-name>
		<servlet-name>SysRegistration</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.SysRegistration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SysRegistration</servlet-name>
		<url-pattern>/SysRegistration</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>AuthenticateIds</display-name>
		<servlet-name>AuthenticateIds</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.AuthenticateIds</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticateIds</servlet-name>
		<url-pattern>/AuthenticateIds</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>ProfilePreferences</display-name>
		<servlet-name>ProfilePreferences</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.ProfilePreferences</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfilePreferences</servlet-name>
		<url-pattern>/ProfilePreferences</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>
		</description>
		<display-name>SaveProfilePref</display-name>
		<servlet-name>SaveProfilePref</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.SaveProfilePref</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveProfilePref</servlet-name>
		<url-pattern>/SaveProfilePref</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>