<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>kaarpool</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.Registration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>SysRegistration</display-name>
		<servlet-name>SysRegistration</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.SysRegistration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SysRegistration</servlet-name>
		<url-pattern>/SysRegistration</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>SendRideRequest</display-name>
		<servlet-name>SendRideRequest</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.SendRideRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendRideRequest</servlet-name>
		<url-pattern>/SendRideRequest</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>AuthenticateIds</display-name>
		<servlet-name>AuthenticateIds</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.AuthenticateIds</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticateIds</servlet-name>
		<url-pattern>/AuthenticateIds</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>DriverNewRoute</display-name>
		<servlet-name>DriverNewRoute</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.DriverNewRoute</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DriverNewRoute</servlet-name>
		<url-pattern>/DriverNewRoute</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>
		</description>
		<display-name>GetRideList</display-name>
		<servlet-name>GetRideList</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.GetRideList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRideList</servlet-name>
		<url-pattern>/GetRideList</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>ProfilePreferences</display-name>
		<servlet-name>ProfilePreferences</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.ProfilePreferences</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfilePreferences</servlet-name>
		<url-pattern>/ProfilePreferences</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>
		</description>
		<display-name>TravelPreferences</display-name>
		<servlet-name>TravelPreferences</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.TravelPreferences</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TravelPreferences</servlet-name>
		<url-pattern>/TravelPreferences</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>
		</description>
		<display-name>TimeBased</display-name>
		<servlet-name>TimeBased</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.TimeBased</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimeBased</servlet-name>
		<url-pattern>/TimeBased</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>
		</description>
		<display-name>GetTimeBasedPref</display-name>
		<servlet-name>GetTimeBasedPref</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.GetTimeBasedPref</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTimeBasedPref</servlet-name>
		<url-pattern>/GetTimeBasedPref</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>
		</description>
		<display-name>SaveProfilePref</display-name>
		<servlet-name>SaveProfilePref</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.SaveProfilePref</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveProfilePref</servlet-name>
		<url-pattern>/SaveProfilePref</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>
		</description>
		<display-name>GetTravelPref</display-name>
		<servlet-name>GetTravelPref</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.GetTravelPref</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTravelPref</servlet-name>
		<url-pattern>/GetTravelPref</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>RiderNewRoute</display-name>
		<servlet-name>RiderNewRoute</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.RiderNewRoute</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RiderNewRoute</servlet-name>
		<url-pattern>/RiderNewRoute</url-pattern>
	</servlet-mapping>
<servlet>
		<description>
		</description>
		<display-name>CancelRide</display-name>
		<servlet-name>CancelRide</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.CancelRide</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CancelRide</servlet-name>
		<url-pattern>/CancelRide</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>DriverRidecancel</display-name>
		<servlet-name>DriverRidecancel</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.DriverRidecancel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DriverRidecancel</servlet-name>
		<url-pattern>/DriverRidecancel</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>GetRidedetails</display-name>
		<servlet-name>GetRidedetails</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.GetRidedetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRidedetails</servlet-name>
		<url-pattern>/GetRidedetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>CheckRidedetails</display-name>
		<servlet-name>CheckRidedetails</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.CheckRidedetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckRidedetails</servlet-name>
		<url-pattern>/CheckRidedetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>CheckRiderRidedetails</display-name>
		<servlet-name>CheckRiderRidedetails</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.CheckRiderRidedetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckRiderRidedetails</servlet-name>
		<url-pattern>/CheckRiderRidedetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>InjectEvents</display-name>
		<servlet-name>InjectEvents</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.InjectEvents</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InjectEvents</servlet-name>
		<url-pattern>/InjectEvents</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>InjectAcknowledgementEvents</display-name>
		<servlet-name>InjectAcknowledgementEvents</servlet-name>
		<servlet-class>
		com.saventech.kaarpool.InjectAcknowledgementEvents</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InjectAcknowledgementEvents</servlet-name>
		<url-pattern>/InjectAcknowledgementEvents</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>